# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
# The packages folder can be ignored if you use Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*.dbmdl
*.bak
*.log
*.dmp

# Others
*.vspscc
*.vssscc
*.pdb
*.cache
*.zip
*.vs/
*.DS_Store
*.idea/
*.sln.ide